<div class="menu">
    <button mat-button [routerLink]="['/dashboard']" [routerLinkActive]="['active']"><mat-icon>dashboard</mat-icon>Operational Dashboard</button>
    <button mat-button [routerLink]="['/analytic']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><mat-icon>pie_chart</mat-icon> Analytics Dashboard</button>
</div>