<mat-card class="data-card" [style.display]="show ? 'block': 'none'">
    <mat-card-header class="with-icon">
        <div class="handle-drag">
            <div class="handle">Drag</div>
            <i class="material-icons">apps</i>
        </div>
        Device In Transit
        <span class="number-icon" *ngIf="!isToggle">{{deviceResponse.length}}</span>

        <div class="header-icon-btn">
            <button mat-icon-button (click)="ZoomTransit()">
                <i class="material-icons">aspect_ratio</i>
            </button>
            <button mat-icon-button (click)="toggle()">
                <i class="material-icons">{{isToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="isToggle" [@isToggle]="isToggle">
        <div class="loading-center">
            <mat-spinner *ngIf="!isDIT" [diameter]="40" class="loader" accent></mat-spinner>
        </div>
        <table matSort class="data-table fixed" (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th class="align-left">Brand Name</th>
                    <th class="align-left">Model Name</th>
                    <th class="align-left">IMEI No.</th>
                    <th class="align-left" mat-sort-header="eta">ETA</th>
                    <th class="align-left">AWB No.</th>
                    <th class="align-left">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of deviceResponse">
                    <td class="align-left">{{item?.brand}} </td>
                    <td class="align-left"> {{item?.model}}</td>
                    <td>
                        <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
                    </td>
                    <td class="align-left">{{item?.eta}}</td>
                    <td class="align-left"> {{item?.awbNo}}</td>       
                    <td class="align-left action">
                        <button mat-raised-button color="accent" (click)="receivedDevice(item.orderId)">Received</button>
                        
                    </td>       
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>