<mat-card class="data-card" [style.display]="show ? 'block': 'none'">
    <mat-card-header class="with-icon">
        <div class="handle-drag">
            <div class="handle">Drag</div>
            <i class="material-icons">apps</i>
        </div>
        Pending For AMS
        <span class="number-icon" *ngIf="!isToggle">{{res?.response.roList.length}}</span>
        <div class="header-icon-btn">
                <button mat-icon-button (click)="ZoomTransit()">
                        <i class="material-icons">aspect_ratio</i>
                    </button>
            <button mat-icon-button (click)="toggle()">
                <i class="material-icons">{{isToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="isToggle" [@isToggle]="isToggle">
        <table matSort class="data-table fixed" (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th class="align-left">Brand Name
                        <br>IMEI No.</th>
                    <th class="align-left" mat-sort-header="estimationDate">Estimation Date
                        <br>Estimated By</th>
                    <th class="align-left" mat-sort-header="amount">Amount</th>
                    <th class="align-left" mat-sort-header="approvalDate">Apporval Due Date/Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of res?.response.roList">
                    <td class="align-left">{{item?.brand}} {{item?.model}}
                        <br>
                        <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
                    </td>
                    <!-- <td class="align-left">{{item.estimationDate | date:'dd MMM yyyy, h:mm a'}}
                        <br>{{item.estimatedBy}}</td> -->
                        <td class="align-left">{{item?.estimationDate}} <br>
                            {{item?.estimatedBy}}
                        </td>
                    <td>
                        <button mat-button class="btn" color="primary" (click)="amount(item?.orderEstimateId)">{{item?.amount}}</button>
                    </td>
                    <td class="align-left" [ngClass]="{'red': getIsDate(item.approvalDate) == true }">
                            {{item?.approvalDueDate}}
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>