<mat-card class="data-card" [style.display]="show ? 'block': 'none'">
    <mat-card-header class="with-icon">
        <div class="handle-drag">
            <div class="handle">Drag</div>
            <i class="material-icons">apps</i>
        </div>
        Device Dispatched
        <span class="number-icon" *ngIf="!isToggle">{{res?.response.roList.length}}</span>
        <div class="header-icon-btn">
                <button mat-icon-button (click)="ZoomTransit()">
                        <i class="material-icons">aspect_ratio</i>
                    </button>
            <button mat-icon-button (click)="toggle()">
        <i class="material-icons">{{isToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
      </button>
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="isToggle" [@isToggle]="isToggle">
        <table class="data-table fixed">
            <thead>
                <tr>
                    <th class="align-left">Customer Name</th>
                    <th class="align-left">Courier Name</th>
                    <th class="align-left">AWB No.</th>
                    <th class="align-left">Dispatched Date</th>
                    <th class="align-left">Delivery Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of res?.response.roList">
                    <td class="align-left">{{item.policyHolderName}}</td>
                    <td class="align-left">{{item.courierName}}</td>
                    <td class="align-left">{{item.awbNo}}</td>
                    <td class="align-left">{{item.dispatchedDate}}</td>
                    <td class="align-left">{{item.orderState}}</td>
                    <!-- <td class="align-left" [ngClass]="{'red': getIsDate(item.dispatchedDate) == true }">{{item.dispatchedDate | date:'dd MMM yyyy'}}</td>
                    <td class="align-left">{{item.deliveryStaus}}</td> -->
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>