<div class="dialog">
  <div mat-dialog-title class="dialog-title">
    <h1>Repair in progress</h1>
    <button mat-icon-button (click)="downloadData()" color="accent" class="download-btn align-right" style="position: relative;" title="Export">
      <i class="fas fa-download"></i>
    </button>
  </div>


  <div mat-dialog-content>
    <table id="myTable" datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="isTableData">
      <thead>
        <tr>
          <th class="align-left">Brand Name</th>
          <th class="align-center">IMEI No.</th>
          <th class="align-center">Estimation Approved on</th>
          <th class="align-center">Repair Due Date/Time</th>
          <th class="align-center">Planned Date/Time</th>
          <th class="align-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of repairInProgressRes?.response.roList">
          <td class="align-left">{{item?.brand}} {{item?.model}}</td>
          <td>
            <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
        </td>
          <td class="align-left">{{item?.estimationApprovedDate}}</td>
          <td class="align-left">{{item?.repairDueDate}}</td>
          <td class="align-left">{{item?.repairPlannedDate}}</td>
          <td class="align-left">
            <button mat-raised-button color="accent" (click)="done(item.orderId)">Repair Complete</button>
            <button mat-raised-button color="accent" (click)="reEstimation(item.orderId)">Re-Estimation</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Close</button>
  </div>

</div>