<div class="dialog">
    <div mat-dialog-title class="dialog-title">
        <h1 style="width: 90%; float: left;">Device In Transit</h1>
        <button mat-icon-button (click)="downloadData()" color="accent" class="align-right download-btn" style="position: relative;" title="Export">
          <i class="fas fa-download"></i>
        </button>
    </div>


    <div mat-dialog-content>
            <table id="myTable" class="dialog-table" datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="isTableData">
                    <thead>
                      <tr>
                        <th class="align-left">Brand Name</th>
                        <th class="align-center">Model Name</th>
                        <th class="align-center">IMEI No.</th>
                        <th class="align-center">ETA</th>
                        <th class="align-center">AWB No.</th>
                        <th class="align-center">Courier Name</th>
                 
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of deviceResponse">
                            <td class="align-left">{{item?.brand}} </td>
                            <td class="align-left"> {{item?.model}}</td>
                            <td>
                              <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
                          </td>
                            <td class="align-left">{{item?.eta}}</td>
                            <td class="align-left"> {{item?.awbNo}}</td>   
                            <td class="align-left"> {{item?.courierName}}</td>  
                      </tr>
                    
                    </tbody>
                  </table>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onNoClick()">Close</button>
    </div>

</div>