<mat-card class="data-card" [style.display]="show ? 'block': 'none'">
    <mat-card-header class="with-icon">
        <div class="handle-drag">
            <div class="handle">Drag</div>
            <i class="material-icons">apps</i>
        </div>
        Pending For Dispatch
        <span class="number-icon" *ngIf="!isToggle">2</span>
        <!-- <div class="header-btn">
      <button mat-raised-button color="accent" (click)="dispatch()">Dispatch</button>
    </div> -->
    
        <div class="header-icon-btn">
                <button mat-icon-button (click)="ZoomTransit()">
                        <i class="material-icons">aspect_ratio</i>
                    </button>
            <button mat-icon-button (click)="toggle()">
        <i class="material-icons">{{isToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
      </button>
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="isToggle" [@isToggle]="isToggle">
        <table class="data-table fixed">
            <thead>
                <tr>
                    <th class="align-left">Brand Name
                        <br>IMEI No.</th>
                    <th class="align-left">Status</th>
                    <th class="align-left">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of deviceResponse">
                        <td class="align-left">{{item?.brand}}
                                <br>
                                <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
                            </td>
                            <td class="align-left">{{item.orderState}}</td>
                    <!-- <td class="align-left" *ngIf="item.status=='RTO'" style="color:red">{{item.status}}</td>
                    <td class="align-left" *ngIf="item.status!='RTO'">{{item.status}}</td> -->
                    <td class="align-left action">
                        <button mat-raised-button color="accent" (click)="dispatch(item.orderId)">Dispatch</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>