<div class="dialog" *ngIf="!addRecord" id="myModal">
    <h1 mat-dialog-title>Estimation</h1>

    <mat-tab-group class="tab-group" selectedIndex="1">

        <mat-tab label="Repair Order Details">
            <div mat-dialog-content>
                <table class="table-content">
                    <tr>
                        <th fxFlex>Claim ID</th>
                        <td fxFlex>{{res?.response?.repairOrderDtls[0]?.claimNo}}</td>
                    </tr>
                    <tr>
                        <th fxFlex>Claim Type</th>
                        <td fxFlex>{{res?.response?.repairOrderDtls[0]?.claimType}}</td>
                    </tr>
                    <tr>
                        <th fxFlex>Claim Date</th>
                        <td fxFlex>{{res?.response?.repairOrderDtls[0]?.creationTime}}</td>
                    </tr>
                    <tr>
                        <th fxFlex>Brand Name</th>
                        <td fxFlex>{{res?.response?.repairOrderDtls[0]?.brand}}</td>
                    </tr>
                    <tr>
                        <th fxFlex>Model Number</th>
                        <td fxFlex>{{res?.response?.repairOrderDtls[0]?.model}}</td>
                    </tr>
                    <tr>
                        <th fxFlex>IMEI Number</th>
                        <td fxFlex>{{res?.response?.repairOrderDtls[0]?.imeiNo}}</td>
                    </tr>
                    <tr>
                        <th fxFlex>Colour</th>
                        <td fxFlex>{{res?.response?.repairOrderDtls[0]?.color}}</td>
                    </tr>
                </table>
            </div>
            <div mat-dialog-actions>
                <button mat-raised-button (click)="onNoClick()">Close</button>
            </div>
        </mat-tab>

        <mat-tab label="Bill Of Material">
            <div mat-dialog-content>
                <!-- <div class="spare-part">
			Spare Part & Price
        </div> -->
                <button mat-raised-button color="accent" style="float: right; margin-bottom: 10px" (click)="addRecord=true">Add Spare Part</button>
                <h5 style="color: green">{{bomRessMessage}}</h5>
                <table class="data-table fixed">
                    <thead>
                        <tr>
                            <th class="align-left">Select</th>
                            <th class="align-left">Part Name</th>
                            <th class="align-left">Part Code</th>
                            <th class="align-left">Description</th>
                            <th class="align-left">Price</th>
                            <th class="align-left">Taxes</th>
                            <th class="align-right">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of BOMResponse?.response.bomTemplate">
                            <td class="align-left">
                                <mat-checkbox color="primary" [(ngModel)]="item.checked" (ngModelChange)="amountCalculated=false"></mat-checkbox>
                            </td>
                            <td class="align-left">{{item.partName}}</td>
                            <td class="align-left">{{item.partCode}}</td>
                            <td class="align-left">{{item.partDesc}}</td>
                            <td class="align-left">
                                <input type="text" style="border: 0; width: 100%;" [(ngModel)]="item.price" (ngModelChange)="amountCalculated=false" (keydown)="onlyNumber($event)"
                                    maxlength="8" />
                            </td>
                            <td class="align-left">
                                <p class="borderSepPerc">{{item.taxValue}}%</p>
                                <p class="textCenter">{{calculateValues(item)}}</p>
                            </td>
                            <td class="align-left" contenteditable="true">{{item.comments}}</td>
                        </tr>
                    </tbody>
                </table>

                <div fxLayout="column">
                    <div fxFlex>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="30">
                                <input matInput placeholder="Service Charges" [(ngModel)]="serviceCharge" (ngModelChange)="amountCalculated=false" (keydown)="onlyNumber($event);"
                                    maxlength="10" required >
                            </mat-form-field>
                            <mat-form-field fxFlex="15">
                                <mat-select placeholder="Tax (%)" [(ngModel)]="taxPercentage" required>
                                    <mat-option value="{{item?.rateApplicable}}" *ngFor="let item of taxGroup?.responseObj">{{item?.rateApplicable}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="Tax Amount" [(ngModel)]="taxVal" readonly>
                            </mat-form-field>
                            <mat-form-field fxFlex="20" required>
                                <input matInput placeholder="Total Amount" [(ngModel)]="totalAmount" readonly required>
                            </mat-form-field>

                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
                            <div style="margin-top: 12px !important;">
                                <button mat-raised-button color="accent" (click)="calculateTaxAndAmount()" [disabled]="" cdkFocusInitial>Calculate Amount</button>
                            </div>

                        </div>
                    </div>
                    <mat-form-field fxFlex>
                        <textarea matInput placeholder="Comments" [(ngModel)]="comment" required></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div mat-dialog-actions>
                <button mat-raised-button (click)="onNoClick()">Cancel</button>
                <button mat-raised-button color="accent" (click)="submitBOM()" [disabled]="!amountCalculated || !comment" cdkFocusInitial>Submit</button>
            </div>

        </mat-tab>

        <mat-tab label="Upload Files">
            <table class="data-table fixed">
                <div class="example-form">
                        <h5 style="color: green;font-size: 14px;font-weight: bold;margin-left: 16px;margin-top: 16px; display: none" id="showFileUploadSuccess"></h5>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="File Type" [(ngModel)]="fileType" id='picklist' required>
                                    <mat-option *ngFor="let file of filesArray" [value]="file.viewValue">
                                        {{ file.viewValue }}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </td>
                        <td>
                            <input type="file" #fileInput (click)="fileInput.value = ''" ngFileSelect [options]="options" id='img' (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [(ngModel)]="orderImage"
                                multiple>
                        </td>

                        <div mat-dialog-actions>
                            <button id="uploadButton" mat-raised-button color="accent" (click)="startUpload()" [disabled]="!fileType || !orderImage" cdkFocusInitial>Upload</button>
                        </div>

                    </tr>
                </div>
                <thead>
                    <tr>
                        <th class="align-left">File Type</th>
                        <th class="align-left">Name</th>
                        <th class="align-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let image of orderImageRes">
                        <td class="align-left">{{image.fileType}}</td>
                        <td class="align-left">{{image.imageName}}</td>
                        <td class="align-left">
                            <i class="material-icons handCursor iconSize">delete</i>
                        </td>
                </tbody>
            </table>
            <div mat-dialog-actions>
                <button mat-raised-button (click)="onNoClick()">Cancel</button>
                <!-- <button mat-raised-button color="accent" [mat-dialog-close]="data" cdkFocusInitial>Upload</button> -->
            </div>
        </mat-tab>

    </mat-tab-group>

</div>

<div class="dialog" *ngIf="addRecord">
    <h1 mat-dialog-title>Add New Spare Part</h1>
    <div mat-dialog-content>
        <div fxLayout="column">
            <div fxFlex>
                <div fxLayout="row" fxLayoutGap="15px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Part name" [(ngModel)]="newPartName" maxlength="25" required>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Part code" [(ngModel)]="newPartCode" maxlength="25" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="15px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Description" [(ngModel)]="newDescription" maxlength="50" required>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Price" [(ngModel)]="newPrice" (keydown)="onlyNumber($event)" maxlength="8" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="15px">
                    <mat-form-field fxFlex="50">
                        <mat-select placeholder="Tax (%)" [(ngModel)]="newTaxes" required>
                            <mat-option value="{{item.taxGroupId}}" *ngFor="let item of taxGroup?.responseObj">{{item?.rateApplicable}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button mat-raised-button color="accent" [disabled]="enableAdd()" (click)="add()" cdkFocusInitial>Add</button>
    </div>
</div>
<div class="loading">
    <mat-spinner *ngIf="isLoading" [diameter]="40" class="loader" id="myLoader" accent></mat-spinner>
</div>