<mat-card class="data-card" [style.display]="show ? 'block': 'none'">
    <mat-card-header class="with-icon">
        <div class="handle-drag">
            <div class="handle">Drag</div>
            <i class="material-icons">apps</i>
        </div>
        Pending Estimation
        <span class="number-icon" *ngIf="!isToggle">{{res?.response.roList.length}}</span>
        <div class="header-icon-btn">
                <button mat-icon-button (click)="ZoomTransit()">
                        <i class="material-icons">aspect_ratio</i>
                </button>
            <button mat-icon-button (click)="toggle()">
        <i class="material-icons">{{isToggle ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
      </button>
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="isToggle" [@isToggle]="isToggle">
            <div class="loading-center">
                    <mat-spinner *ngIf="!isPE" [diameter]="40" class="loader" accent></mat-spinner>
                </div>
        <table matSort class="data-table fixed" (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th class="align-left">Brand Name
                        <br>IMEI No.</th>
                    <th class="align-left" mat-sort-header="recievedDate">Received Date/Time
                    </th>
                    <th class="align-left" mat-sort-header="estimationDueDate">Estimation Due Date/Time
                        <br>(Hours Left)</th>
                    <th class="align-left">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of res?.response.roList">
                    <td class="align-left">{{item?.brand}} {{item?.model}}
                        <br>
                        <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
                    </td>
                    <td class="align-left">{{item?.receivedDateTime}}</td>
                    <td style="color:red;" *ngIf="item.sla>24">
                      {{item?.estimationDueDate}}
                        <br>{{item?.sla}} Hours Left
                    </td>
                    <td *ngIf="item.sla<=24">
                            {{item?.estimationDueDate}}
                              <br>{{item?.sla}} Hours Left
                          </td>
                    <!-- <td *ngIf="item.hoursLeft<24">
                        {{item?.estimationDueDate | date:'dd MMM yyyy'}}
                        <br>{{item?.hoursLeft}} Hours Left
                    </td> -->
                    <td class="align-left action">
                        <button mat-raised-button color="accent" (click)="estimation(item.orderId)">Estimation</button>
                        <button mat-raised-button color="accent" (click)="disputeDevice(item.orderId)">Dispute</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
