<div class="dialog">
	<div mat-dialog-title>
		<h1 style="width: 90%; float: left;">Approval TAT Details</h1>	
		<button mat-icon-button color="accent" (click)="downloadData()" class="align-right" style="position: relative;" title="Export">
			<i class="fas fa-download"></i>
		</button>
		<!-- <button mat-icon-button color="accent">
			<mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
		</button> -->
	</div>
	<div mat-dialog-content>
		<table id="myTable" datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="isTableData">
			<thead>
				<tr>
					<th class="align-left">Repair Order No.</th>
					<th class="align-left">Repair Order Date</th>		
					<th class="align-left">Device Name</th>
					<th class="align-left">IMEI No.</th>
					<th class="align-left">Received Date</th>
					<th class="align-left">Approval Date</th>
					<th class="align-left">Estimation Date</th>
					<th class="align-left">Post Repair</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of approvalTATDetailRes">
					<td class="align-left">{{item?.orderId}} </td>
					<td class="align-left">{{item?.repairDate}}</td>
					<td class="align-left">{{item?.brand}} {{item?.model}}</td>
					<td class="align-left">{{item?.imeiNo}}</td>
					<td class="align-left">{{item?.receivedDate}}</td>
					<td class="align-left">{{item?.approvalDate}}</td>
					<td class="align-left">{{item?.estimationDate}}</td>
					<td class="align-left">{{item?.postRepair}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div mat-dialog-actions>
	  <button mat-raised-button (click)="onNoClick()">Close</button>
	</div>
</div>