<div class="dialog">
    <div mat-dialog-title class="dialog-title">
        <h1 style="width: 90%; float: left;">Pending Estimation</h1>
        <button mat-icon-button color="accent" class="align-right download-btn" style="position: relative;" title="Export" (click)="downloadData()">
          <i class="fas fa-download"></i>
        </button>
    </div>


    <div mat-dialog-content>
            <table id="myTable" datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="isTableData">
                    <thead>
                      <tr>
                        <th class="align-left">Brand Name</th>
                        <th class="align-center">IMEI No.</th>
                        <th class="align-center">Received Date/Time</th>
                        <th class="align-center">Estimation Due Date/Time
                          (Hours Left)
                        </th>
                        <th class="align-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of deviceResponse">
                            <td class="align-left">{{item?.brand}} </td>
                            <td>
                              <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
                          </td>
                            <td class="align-left">{{item?.receivedDateTime}}</td>
                            <td style="color:red;" *ngIf="item.sla>24">
                              {{item?.estimationDueDate}}
                                {{item?.sla}} Hours Left
                            </td>
                            <td *ngIf="item.sla<=24">
                                    {{item?.estimationDueDate}}
                                      {{item?.sla}} Hours Left
                                  </td>
                            <td class="align-left action">
                              <button mat-raised-button color="accent" (click)="estimation(item?.orderId)">Estimation</button>
                              <button mat-raised-button color="accent" (click)="disputeDevice()">Dispute</button>
                          </td> 
                      </tr>
                    
                    </tbody>
                  </table>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onNoClick()">Close</button>
    </div>

</div>