<!--Header Component-->
<app-header></app-header>
<button class="drawer-menu" mat-icon-button (click)="drawer.toggle()" fxShow fxHide.xs="false" fxHide.lg="true" fxHide.xl="true">
	<mat-icon aria-label="">{{drawer.opened ? 'keyboard_backspace' : 'menu'}}</mat-icon>
</button>
<mat-drawer-container>
    <mat-drawer #drawer mode="push">
        <!--Menu Component-->
        <app-menu></app-menu>
    </mat-drawer>
    <div fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="200px" fxHide fxShow.xs="false" fxShow.lg="true" fxShow.xl="true">
            <!--Menu Component-->
            <app-menu></app-menu>
        </div>
        <div fxFlex>
            <div class="container">
                <div class="row">

                    <div class="col-lg-2">
                        <mat-form-field fxFlex style="width: 140px;">
                            <mat-select placeholder="Brand" [(ngModel)]="brandValue" (onClose)='getBrandModel(brandValue)' multiple>
                                <mat-option *ngFor="let brand of mobileBrandResponse" [value]="brand">{{brand.brandName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field fxFlex style="width: 140px;">
                            <mat-select placeholder="Model" [(ngModel)]="modelValue" multiple>
                                <mat-option *ngFor="let model of modelList" [value]="model">{{model.modelName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field fxFlex style="width: 140px;">
                            <mat-select placeholder="Location" [(ngModel)]="locationValue" multiple>
                                <mat-option *ngFor="let location of cityResponse" [value]="location">{{location.cityName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field fxFlex style="width: 140px;">
                            <input matInput [matDatepicker]="dispatchedDatePicker" [(ngModel)]="startDate" [max]="endDate" (click)="dispatchedDatePicker.open()" [readonly]="true" placeholder="Start Date">
                            <mat-datepicker-toggle matSuffix [for]="dispatchedDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #dispatchedDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field fxFlex style="width: 140px;">
                            <input matInput [matDatepicker]="dispatchedDatePicker1" [min]="startDate" [(ngModel)]="endDate" (click)="dispatchedDatePicker1.open()" [readonly]="true" placeholder="End Date">
                            <mat-datepicker-toggle matSuffix [for]="dispatchedDatePicker1"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #dispatchedDatePicker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">

                        <button mat-raised-button color="accent" style="margin-top: 9px;" (click)="setFilter();" [disabled]="disableFilter()">Filter</button>

                    </div>
                </div>
                <div class="dashboard-wrap">
                    <app-estimated-tat class="col-lg-6" [estFilter]="filtersObj" style="padding: 0px;"></app-estimated-tat>
                    <app-repair-tat class="col-lg-6" [repairFilter]="filtersObj" style="padding: 0px;"></app-repair-tat>
                    <app-approval-tat class="col-lg-6" [approvalFilter]="filtersObj" style="padding: 0px;"></app-approval-tat>
                    <app-dispatch-tat class="col-lg-6" [dispatchFilter]="filtersObj" style="padding: 0px;"></app-dispatch-tat>
                    <app-cost-tat class="col-lg-6" [costFilter]="filtersObj" style="padding: 0px;"></app-cost-tat>
                    <app-pending-tat class="col-lg-6" [pendingFilter]="filtersObj" style="padding: 0px;"></app-pending-tat>
                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>
<div class="loading">
    <mat-spinner *ngIf="isLoading" [diameter]="40" class="loader" id="myLoader" accent></mat-spinner>
</div>