<div class="dialog">
    <div mat-dialog-title class="dialog-title">
        <h1 style="width: 90%; float: left;">Device Dispatched</h1>
        <button mat-icon-button color="accent" class="align-right download-btn" style="position: relative;" title="Export" (click)="downloadData()">
          <i class="fas fa-download"></i>
        </button>
    </div>


    <div mat-dialog-content>
            <table id="myTable" datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="isTableData">
                    <thead>
                      <tr>
                        <th class="align-left">Customer Name</th>
                        <th class="align-center">Courier Name</th>
                        <th class="align-center">AWB No.</th>
                        <th class="align-center">Dispatched Date</th>
                        <th class="align-center">Delivery Status</th>
                      </tr>
                    </thead>
                    <!-- <tbody>
                      <tr *ngFor="let item of deviceResponse?.response.roList">
                            <td class="align-left">{{item.policyHolderName}} </td>
                            <td class="align-left">{{item.courierName}}</td><td class="align-left">{{item.awbNo}}</td>
                            <td class="align-left">{{item.awbNo}}</td>
                            <td class="align-left">{{item.dispatchedDate}}</td>
                            <td class="align-left">{{item.orderState}}</td>
                      </tr>
                    
                    </tbody> -->
                  </table>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onNoClick()">Close</button>
    </div>

</div>