<div class="dialog">
    <div mat-dialog-title class="dialog-title">
        <h1 style="width: 90%; float: left;">Pending For Approval</h1>
        <button mat-icon-button color="accent"  (click)="downloadData()" class="download-btn align-right" style="position: relative;" title="Export">
          <i class="fas fa-download"></i>
        </button>
    </div>


    <div mat-dialog-content>
            <table id="myTable" datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="isTableData">
                    <thead>
                      <tr>
                        <th class="align-left">Brand Name</th>
                        <th class="align-center">IMEI No.</th>
                        <th class="align-center">Estimated Date</th>                        
                        <th class="align-center">Estimation By</th>
                        <th class="align-center">Amount</th>
                        <th class="align-center">Approval Due Date/Time</th>
                 
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of deviceResponse">
                            <td class="align-left">{{item?.brand}} </td>
                            <td>
                              <button mat-button class="btn" color="primary" (click)="getRepairOrderDetails(item.orderId)">{{item?.imeiNo}}</button>
                          </td>
                            <td class="align-left">{{item?.estimationDate}}</td>
                            <td class="align-left"> {{item?.estimatedBy}}</td>   
                            <td class="align-left"> {{item?.amount}}</td>
                            <td class="align-left"> {{item?.approvalDueDate}}</td>  
                      </tr>
                    
                    </tbody>
                  </table>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onNoClick()">Close</button>
    </div>

</div>