<div class="dialog" *ngIf="!addRecord" id="myModal">
    <h1 mat-dialog-title>Estimation</h1>

    <mat-tab-group class="tab-group" selectedIndex="0">

        <mat-tab label="Re-Estimation">
            <div mat-dialog-content>
                <h5 style="color: green">{{bomRessMessage}}</h5>
                <div style="font-size: 13px;cursor: pointer;margin-bottom: 10px;font-weight: bold;color:lightslategray">
                    <h5>Approved parts:
                        <span *ngIf="!isExpanded" (click)="isExpanded=true">(+)</span>
                        <span *ngIf="isExpanded" (click)="isExpanded=false">(-)</span>
                    </h5>

                </div>


                <table class="data-table fixed" *ngIf="isExpanded">
                    <thead>
                        <tr>
                            <th class="align-left">Select</th>
                            <th class="align-left">Part Name</th>
                            <th class="align-left">Part Code</th>
                            <th class="align-left">Description</th>
                            <th class="align-left">Price</th>
                            <th class="align-left">Taxes</th>
                            <th class="align-right">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of getReEstimationDetailsRes?.response?.estimation?.orderEstimateDtls">
                            <td class="align-left">
                                <mat-checkbox color="primary" [checked]="true" [disabled]="true"></mat-checkbox>
                            </td>
                            <td class="align-left">{{item.partName}}</td>
                            <td class="align-left">{{item.partCode}}</td>
                            <td class="align-left">{{item.description}}</td>
                            <td class="align-left">
                                {{item.price}}
                            </td>
                            <td class="align-left">
                                <p class="borderSepPerc">{{item.partTaxAmt}}%</p>
                                <p class="textCenter">{{item.partTaxValue}}</p>
                            </td>
                            <td class="align-left" contenteditable="true">{{item.comments}}</td>
                        </tr>
                    </tbody>
                </table>

                <div style="font-size: 13px;margin-bottom: 10px;font-weight: bold;color:lightslategray">
                    <h5>Select new part:</h5>
                    <button mat-raised-button color="accent" style="float: right; margin-bottom: 10px" (click)="addRecord=true">Add Spare Part</button>
                </div>


                <table class="data-table fixed">
                    <thead>
                        <tr>
                            <th class="align-left">Select</th>
                            <th class="align-left">Part Name</th>
                            <th class="align-left">Part Code</th>
                            <th class="align-left">Description</th>
                            <th class="align-left">Price</th>
                            <th class="align-left">Taxes</th>
                            <th class="align-right">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of BOMResponse?.response.bomTemplate">
                            <td class="align-left">
                                <mat-checkbox color="primary" [(ngModel)]="item.checked" (ngModelChange)="amountCalculated=false"></mat-checkbox>
                            </td>
                            <td class="align-left">{{item.partName}}</td>
                            <td class="align-left">{{item.partCode}}</td>
                            <td class="align-left">{{item.partDesc}}</td>
                            <td class="align-left">
                                <input type="text" style="border: 0; width: 100%;" [(ngModel)]="item.price" (ngModelChange)="amountCalculated=false" (keydown)="onlyNumber($event)"
                                    maxlength="8" />
                            </td>
                            <td class="align-left">
                                <p class="borderSepPerc">{{item.taxValue}}%</p>
                                <p class="textCenter">{{calculateValues(item)}}</p>
                            </td>
                            <td class="align-left" contenteditable="true">{{item.comments}}</td>
                        </tr>
                    </tbody>
                </table>

                <div fxLayout="column">
                    <div fxFlex>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="30">
                                <input matInput placeholder="Service Charges" [(ngModel)]="serviceCharge" (ngModelChange)="amountCalculated=false" (keydown)="onlyNumber($event);"
                                    maxlength="10" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="15">
                                <mat-select placeholder="Tax (%)" [(ngModel)]="taxPercentage" required>
                                    <mat-option value="{{item?.rateApplicable}}" *ngFor="let item of taxGroup?.responseObj">{{item?.rateApplicable}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="Tax Amount" [(ngModel)]="taxVal" readonly>
                            </mat-form-field>
                            <mat-form-field fxFlex="20">
                                <input matInput placeholder="Total Amount" [(ngModel)]="totalAmount" readonly required>
                            </mat-form-field>

                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
                            <div style="margin-top: 12px !important;">
                                <button mat-raised-button color="accent" (click)="calculateTaxAndAmount()" [disabled]=""  cdkFocusInitial>Calculate Amount</button>
                            </div>

                        </div>
                    </div>
                    <mat-form-field fxFlex>
                        <textarea matInput placeholder="Comments" [(ngModel)]="comment" required></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div mat-dialog-actions>
                <button mat-raised-button (click)="onNoClick()">Cancel</button>
                <button mat-raised-button color="accent" (click)="submitBOM()" [disabled]="!amountCalculated || !comment" cdkFocusInitial>Submit</button>
            </div>

        </mat-tab>

        <mat-tab label="History">
            <div mat-dialog-content>
                <div *ngFor="let item of BOMHistory">
                    <h1 mat-dialog-title>Estimation version {{item.version}}</h1>
                    <table class="data-table fixed">
                        <thead>
                            <tr>
                                <th class="align-left">Part Name</th>
                                <th class="align-left">Part Code</th>
                                <th class="align-left">Description</th>
                                <th class="align-left">Price</th>
                                <th class="align-left">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let newItem of item.orderEstimateDtlsHistory">
                                <td class="align-left">{{newItem.partName}}</td>
                                <td class="align-left">{{newItem.partCode}}</td>
                                <td class="align-left">{{newItem.description}}</td>
                                <td class="align-left">{{newItem.price}}</td>
                                <td class="align-left">{{newItem.comments}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div fxLayout="column">
                        <div fxFlex>
                            <div fxLayout="row" fxLayoutGap="15px">
                                <mat-form-field fxFlex>
                                    <input matInput placeholder="Service Charges" disabled value="{{item.serviceCharge}}">
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <input matInput placeholder="Total Amount" disabled value="{{item.totalAmt}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field fxFlex>
                            <textarea matInput placeholder="Comments" disabled>{{item.approvedComments}}</textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div mat-dialog-actions>
                <button mat-raised-button (click)="onNoClick()">Cancel</button>
            </div>
        </mat-tab>

    </mat-tab-group>

</div>

<div class="dialog" *ngIf="addRecord">
    <h1 mat-dialog-title>Add New Spare Part</h1>
    <div mat-dialog-content>
        <div fxLayout="column">
            <div fxFlex>
                <div fxLayout="row" fxLayoutGap="15px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Part name" [(ngModel)]="newPartName" maxlength="25" required>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Part code" [(ngModel)]="newPartCode" maxlength="25" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="15px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Description" [(ngModel)]="newDescription" maxlength="25" required>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Price" [(ngModel)]="newPrice" (keydown)="onlyNumber($event)" maxlength="8" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="15px">
                    <mat-form-field fxFlex="50">
                        <mat-select placeholder="Tax (%)" [(ngModel)]="newTaxes" required>
                            <mat-option value="{{item.taxGroupId}}" *ngFor="let item of taxGroup?.responseObj">{{item?.rateApplicable}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button mat-raised-button color="accent" [disabled]="enableAdd()" (click)="add()" cdkFocusInitial>Add</button>
    </div>
</div>
<div class="loading">
    <mat-spinner *ngIf="isLoading" [diameter]="40" class="loader" accent></mat-spinner>
</div>