<section class="login">
    <div class="logo">AmTrust</div>
    <mat-card>
        <form [formGroup]="loginForm">
            <mat-card-header>
                <mat-card-title style="text-align: center;line-height: 28px;font-size: 18px;border-bottom:1px solid #dadbdc;padding-bottom: 10px;">Welcome to AmTrust Mobile Solutions <span>authorized repairer portal!</span></mat-card-title>
                <mat-card-subtitle style="text-align: center;"> <br> Please log in with your details to continue.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <section class="msg error-msg" *ngIf="isError">
                    Please enter valid username/password.
                </section>

                <mat-form-field>
                    <mat-placeholder>
                        <mat-icon>person</mat-icon> Username
                    </mat-placeholder>
                    <input matInput formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <mat-placeholder>
                        <mat-icon>lock</mat-icon> Password
                    </mat-placeholder>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon class="show-password" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" [disabled]="!loginForm.valid" (click)="login()">Login</button>
            </mat-card-actions>
        </form>
    </mat-card>
    <div class="forgot-password">
        <button mat-button>Can't Log in? Click Forgot password</button>
    </div>
</section>
<div class="overlay"></div>
<div class="loading">
    <mat-spinner *ngIf="isLoading" [diameter]="50" class="loader" accent></mat-spinner>
</div>