<div class="dialog">
  <h1 mat-dialog-title class="dialog-title">Planned Date History</h1>


  <div mat-dialog-content>
    <table class="data-table fixed">
      <thead>
          <tr>
              
              <th class="align-center">Last Updated Time</th>
              <th class="align-center">Updated By</th>
              <th class="align-center">Planned Date Time</th>
              <th class="align-center">Comments</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of dateResponse">
              
              <td class="align-center">{{item.lastUpdatedTime}}</td>
              <td class="align-center">{{item.lastUpdatedBy}}</td>
              <td class="align-center">{{item.plannedDateTime}}</td>
              <td class="align-center">{{item.comments}}</td>
              
              
          </tr>
      </tbody>
  </table>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()">Close</button>
      <!-- <button mat-raised-button color="accent" [disabled]="!comments || !newDate" (click)="updateDate();" cdkFocusInitial>Submit</button> -->
  </div>

</div>
<div class="loading-center">
  <mat-spinner *ngIf="isLoading" [diameter]="40" class="loader" accent></mat-spinner>
</div>